# secrets
.env

# venv / python cache
.venv/
__pycache__/
*.pyc

# app state
app_state.json
app_state*

# data 
data/*.pdf

# screenshots 
answer*.png

# editor
.vscode/
.DS_Store
Thumbs.db

# local helper scripts
index.py
test.py
